# Server Configuration
PORT=9090
OAI_HOST=localhost

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
DB_NAME=kahi

# Base URL for OAI-PMH (e.g. http://localhost:9090/oai)
OAI_BASE_URL=http://localhost:9090/oai
